@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Lemonada:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik+Glitch&family=Ruthie&family=Work+Sans&display=swap');
/* font-family: 'Ruthie', cursive; */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
}