@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Lemonada:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik+Glitch&family=Ruthie&family=Work+Sans&display=swap');
/* font-family: 'Ruthie', cursive; */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
}
.container{
    width: 100%;
    height: auto;
    z-index: 1000;
}
.header,.section,.footer{
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    z-index: 10;
    background-color: black;
}
.section{
    z-index: 20;
}
.footer{
    z-index: 30;
    background-color: aqua;
}
.bg{
    background-image: url('image/bg-1.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
}
.ca{
    width: min(55%, 200px);
    border-radius: 50%;
    z-index: 10;
    border: 5px solid rgb(255, 202, 77);
    box-shadow: 0 0 10px rgb(255, 247, 228);
}
.may-1,.may-2{
    position: absolute;
    top:0;
    width: min(50%, 300px);
    z-index: 20;
}
.may-2{
    top: 30%;
    right: 100%;
}
.may-1{
    left: 100%;
}
.nui{
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 15;
}
.bg-thiep{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('image/bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: 20;
}
.lan{
    width: min(80%, 400px);
    position: absolute;
    z-index: 21;
    top: 100%;
}
.title{
    font-family: 'Ruthie', cursive;
    z-index: 25;
    position:absolute;
    font-size: 100px;
    font-weight: 1000;
}
@media (min-width:450px) and (max-width: 689px) {

}
@media (max-width:449px) {
    
}